extends: default
locale: en_US.UTF-8

yaml-files:
- '*.yml'

rules:

  ## Don't warn for line lengths
  line-length: disable

  truthy:
    allowed-values: ['true', 'false']
    ## We don't want it to trigger for the 'on' in our workflows
    check-keys: false

  ## We don't need indentation warnings
  indentation: disable

  ## We don't use yaml files for document purposes
  document-start: disable

  ## Trailing Spaces for language files are too common and these files are automated anyway
  trailing-spaces:
    ignore: |
      /src/main/resources/languages/**/*.yml
