name: URL Validator

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    name: URL Checker
    runs-on: ubuntu-latest

    steps:
    - name: URL-checker
      uses: SuperKogito/URLs-checker@0.2.1
      with:
        git_path: https://github.com/TheBusyBiscuit/Slimefun4
        file_types: .md,.java,.yml
        print_all: False
        retry_count: 2
        ## These URLs will always be correct, even if their services may be offline right now
        white_listed_patterns: http://textures.minecraft.net/texture/,https://pastebin.com/,https://www.spigotmc.org/threads/spigot-bungeecord-1-16-1.447405/#post-3852349
