name: YAML Linter

on:
  push:
    paths:
    - '**.yml'
  pull_request:
    branches:
    - master

jobs:
  linter:

    name: YAML Linter
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: YAML Linter
      uses: ibiqlik/action-yamllint@v3.0.2
      with:
        config_file: '.github/configs/yaml-linter.yml'
